.keep-c-todo-container
{
   display: flex;    
   margin: 20px;
}

.todos-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 12vh 15vw;
   cursor: pointer;
}


.title
{
    float: left;
    font-size: larger
}
.action
{
    float: right;
    margin-left: 25px;
}
.icon
{
    font-size: 14px;
    margin: 5px;
    top: -4px !important;
    cursor: pointer;
}

.datestyle
{
margin-top: -1px !important;
}
.taskstyle{
  margin-top: 5px !important;
  font-size: 20px !important;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#fff475;
  display:block;
  min-height:10em;
  width:18em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
ul li{
  margin:1em;
  float:left;
}


.header{
  text-decoration:none;
  color:#000;
  background:#fff475;
  border-bottom: 1px solid #989595;
  display:block;
  height:3em;
  width:18em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.passeddate{
     background-color:#f28b82 !important;
}
.completed{
    background-color: #ccff90 !important;
}
